@charset "UTF-8";

@font-face {
  font-family: 'Counter-Strike';
  src: url('/font/cs_regular.ttf') format('opentype');
  font-weight: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rammetto+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --amarelo: #F2B705;
  --laranja: #F28705;
  --laranja-escuro: #BF5B04;
  --azul-escuro: #012340;
  --azul-claro: #35748C;

  --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
  --fonte-anton: 'Anton', sans-serif;
  --fonte-rammetto: 'Rammetto One', cursive;
  --fonte-black-han-sans: 'Black Han Sans', sans-serif;
  --fonte-roboto: 'Roboto', sans-serif;
  --fonte-csgo: 'Counter-Strike', sans-serif;
}

* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}

body {
  height: 100vh;
  background-image: linear-gradient(to left, var(--azul-claro), var(--azul-escuro));
  font-family: var(--fonte-padrao);
}

.cabecalho {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
}

.cabecalho-imagem {
  height: 60px;
}

.cabecalho-menu {
  display: flex;
  gap: 40px
}

.cabecalho-menu > a:hover {
  color: var(--azul-escuro);
}

.cabecalho-menu-item {
  font-family: var(--fonte-roboto);
  color: #fff;
  font-weight: 200px;
  font-size: 16px;
  background-color: #32adad;
  border-radius: 10px;
  padding: 3px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.329);
}

.conteudo {
  margin-bottom: 50px;
}

.conteudo-imagem {
  background-color: var(--azul-escuro);
  border-radius: 25px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.37);
}

.conteudo-imagem img {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: auto;
}

.cabecalho-imagem {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.conteudo-principal {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.conteudo-principal-escrito {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.conteudo-principal-escrito-titulo {
  font-family: var(--fonte-rammetto);
  font-weight: 400;
  font-size: 64px;
  color: white
}

.conteudo-principal-escrito-subtitulo {
  font-family: var(--fonte-black-han-sans);
  font-weight: 400;
  font-size: 24px;
  color: white
}

.conteudo-principal-imagem {
  height: 430px;
}

.conteudo-segundario {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin-top: 48px;
}

.conteudo-segundario-titulo {
  padding-top: 48px;
  font-family: var(--fonte-rammetto);
  font-weight: 400;
  font-size: 24px;
  color: white;
  margin-bottom: 16px;
}

.conteudo-segundario-paragrafo {
  font-family: var(--fonte-padrao);
  font-weight: 300;
  font-size: 18px;
  color: white;
}

strong {
  color: var(--amarelo);
}

.rodape {
  background-color: var(--azul-escuro);
  text-align: center;
}

.rodape a {
  color: #fff;
  font-weight: bolder;
  text-decoration: none;
}

.rodape a:hover {
  color: var(--azul-claro);
}

.rodape-paragrafo {
  color: #fff;
  text-align: center;
  padding: 15px;
}

.rodape-copy {
  background-color: var(--azul-claro);
  color: #fff;
  padding: 15px;
}